@using WebApplication1.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Book Recommendations";
}

<h1>Recommended Books</h1>


@if (Model.MostPopularBooks != null && Model.MostPopularBooks.Any())

{
    <h2>Most Popular Books</h2>
    <div class="scrollable-container">
        @foreach (var book in Model.MostPopularBooks)

        {
            <div class="bookCard">
                <div class="cardImg">
                    <img src="@book.ImgUrl" alt="@book.Title cover" />
                </div>
                <div class="cardBody">
                    <div class="bodyHeader">
                        <h2 class="headerTitle">@book.Title</h2>
                        <p class="headerAuthor">By @book.AuthorName</p>
                    </div>
                    <p class="bodyDescription">@book.Description</p>
                    <form action="@Url.Action("AddRating", "Ratings")" method="post" class="bodyRatings">
                        <input type="hidden" name="BookId" value="@book.Id" />
                        <div class="stars">
                            <input type="radio" id="star5-suggested-@book.Id" name="rating" value="5" onclick="enableSubmit(@book.Id)" />
                            <label for="star5-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star4-suggested-@book.Id" name="rating" value="4" onclick="enableSubmit(@book.Id)" />
                            <label for="star4-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star3-suggested-@book.Id" name="rating" value="3" onclick="enableSubmit(@book.Id)" />
                            <label for="star3-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star2-suggested-@book.Id" name="rating" value="2" onclick="enableSubmit(@book.Id)" />
                            <label for="star2-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star1-suggested-@book.Id" name="rating" value="1" onclick="enableSubmit(@book.Id)" />
                            <label for="star1-suggested-@book.Id" class="star">&#9733;</label>
                        </div>
                        <button type="submit" class="ratingsButton disabled" id="submit-btn-@book.Id">Rate</button>
                    </form>
                </div>
            </div>
        }
    </div>
}

else

{
    <p>No popular books are available at the moment.</p>
}


@if (Model.SuggestedBooks != null && Model.SuggestedBooks.Any())

{
    <h2>Suggested for You</h2>
    <div class="booksContainer scrollable-container">
        @foreach (var book in Model.SuggestedBooks)

        {
            <div class="bookCard">
                <div class="cardImg">
                    <img src="@book.ImgUrl" alt="@book.Title cover" />
                </div>
                <div class="cardBody">
                    <div class="bodyHeader">
                        <h2 class="headerTitle">@book.Title</h2>
                        <p class="headerAuthor">By @book.AuthorName</p>
                    </div>
                    <p class="bodyDescription">@book.Description</p>
                    <form action="@Url.Action("AddRating", "Ratings")" method="post" class="bodyRatings">
                        <input type="hidden" name="BookId" value="@book.Id" />
                        <div class="stars">
                            <input type="radio" id="star5-suggested-@book.Id" name="rating" value="5" onclick="enableSubmit(@book.Id)" />
                            <label for="star5-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star4-suggested-@book.Id" name="rating" value="4" onclick="enableSubmit(@book.Id)" />
                            <label for="star4-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star3-suggested-@book.Id" name="rating" value="3" onclick="enableSubmit(@book.Id)" />
                            <label for="star3-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star2-suggested-@book.Id" name="rating" value="2" onclick="enableSubmit(@book.Id)" />
                            <label for="star2-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star1-suggested-@book.Id" name="rating" value="1" onclick="enableSubmit(@book.Id)" />
                            <label for="star1-suggested-@book.Id" class="star">&#9733;</label>
                        </div>
                        <button type="submit" class="ratingsButton disabled" id="submit-btn-@book.Id">Rate</button>
                    </form>
                </div>
            </div>


           
        }
    </div>


}

else

{
    <p>No suggestions are available at the moment.</p>
}

@if (Model.SimilarToRandom != null && Model.SimilarToRandom.Any())

{
    <h2>Since you liked @Model.RandomBook.Title</h2>
    <div class="booksContainer scrollable-container">
        @foreach (var book in Model.SimilarToRandom)

        {
            <div class="bookCard">
                <div class="cardImg">
                    <img src="@book.ImgUrl" alt="@book.Title cover" />
                </div>
                <div class="cardBody">
                    <div class="bodyHeader">
                        <h2 class="headerTitle">@book.Title</h2>
                        <p class="headerAuthor">By @book.AuthorName</p>
                    </div>
                    <p class="bodyDescription">@book.Description</p>
                    <form action="@Url.Action("AddRating", "Ratings")" method="post" class="bodyRatings">
                        <input type="hidden" name="BookId" value="@book.Id" />
                        <div class="stars">
                            <input type="radio" id="star5-suggested-@book.Id" name="rating" value="5" onclick="enableSubmit(@book.Id)" />
                            <label for="star5-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star4-suggested-@book.Id" name="rating" value="4" onclick="enableSubmit(@book.Id)" />
                            <label for="star4-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star3-suggested-@book.Id" name="rating" value="3" onclick="enableSubmit(@book.Id)" />
                            <label for="star3-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star2-suggested-@book.Id" name="rating" value="2" onclick="enableSubmit(@book.Id)" />
                            <label for="star2-suggested-@book.Id" class="star">&#9733;</label>
                            <input type="radio" id="star1-suggested-@book.Id" name="rating" value="1" onclick="enableSubmit(@book.Id)" />
                            <label for="star1-suggested-@book.Id" class="star">&#9733;</label>
                        </div>
                        <button type="submit" class="ratingsButton disabled" id="submit-btn-@book.Id">Rate</button>
                    </form>
                </div>
            </div>


        }
    </div>


}

else

{
    <p>No suggestions are available at the moment.</p>
}

<div class="mt-4">
    <p>Need more ideas?</p>
    <a href="@Url.Action("GoToReviewPage", "Home")" class="btn btn-primary d-block mb-2">Rate more books!</a>
    <a href="@Url.Action("AISuggestions", "Home")" class="btn btn-secondary d-block">Try AI suggestions!</a>
</div>

<script>
    function enableSubmit(bookId) {
        document.getElementById('submit-btn-' + bookId).classList.remove("disabled");
    }
</script>
